<%-include('header')%>
<div class="container my-4 ">
  <div class="card mx-auto" style="max-width: 800px; text-align: center;">
    <img src="/uploads/<%= blog.image %>" alt="Blog Image" class="card-img-top"
         style="height: 350px; object-fit: cover;"/>
    <div class="card-body">
      <h3 class="card-title text-center"><%= blog.title %></h3>
      <p class="card-subtitle mb-2 text-muted text-center">By <%= blog.author %></p>
      <p class="card-text"><%= blog.content %></p>
      <div class="text-center">
        <a href="/admin/viewBlogs" class="btn btn-primary mt-3">← Back to Blog List</a>
      </div>
    </div>
  </div>
</div>
<%-include('footer')%>